body {
	background: url("backgr.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: white;
}

li {
	display: inline;
}

ul {
	text-align: right;
	padding: 5px 10px 10px 10px;
}

.tabelka {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: green;
	opacity: 0.3;
	filter: alpha(opacity=40);
}

tr {
	text-align: center;
	height: 100px;	
}
td {
	text-align: center;
}

.stopka {
	text-align: center;
	color: white;
}